#container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jquery-modal .modal {
    overflow-y:auto;
    width: 90%;
    max-width:1024px;
}

.jquery-modal .modal a.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

.jquery-modal .modal img {
    max-width: 800px;
}

.text-wrap{
    white-space:normal;
}

.description-column {
    max-width: 800px;
    min-width: 250px;
}

.links-column {
    max-width: 250px;
    min-width: 200px;
}

.similar-column {
    max-width: 250px;
    min-width: 100px;
}

.tags-column {
    max-width: 250px;
}

.label-link {
    margin: 1px 1px;
    padding: 1px 5px;
    border: 1px solid #3776ab;
    color: #FFFFFF;
    background: #3776ab; /* contrast adjusted */
    font-size: smaller;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.label-link:hover {
    color: #3776ab;
    background: #fff;
}

.github-img {
    width: 16px;
}

.link-img {
    width: 16px;
}

.web-img {
    width: 16px;
}

.info-img {
    width: 16px;
}

img.info-img:hover {
  opacity: 0.5;
}

.light-text {
    color: #BEBEBE;
}

.dataTables_filter {
    float: left !important;
    text-align: left;
    margin-top: 10px;
}

div.dataTables_filter input {
    /* override datatables margin-left: 0.5em; */
    margin-left: 0px !important;
    /* override datatables width: auto; */
    width: 175px !important;
    margin-right: 10px;
}

div.dataTables_filter select {
    width: 175px;
    /*margin-left: 10px;*/
    border: 1px solid #ced4da;
}

div.dataTables_length label {
    padding-top: .85em;
}

div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    text-align: left !important;
    margin-left: 10px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: left !important;
}

/* --- books --- */

img.book-image {
    width: 140px;
}

/* --- about --- */

img.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

/* --- menu --- */

.topnav {
  overflow: hidden;
  background-color: #3776ab;
  position: relative;
}

.topnav a,
.topnav span {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.topnav h1 a {
    font-size: large;
}

/* Style the hamburger menu */
.topnav span.icon {
  background: #3776ab;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #5292c7;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 40px;
}

.sidenav span,
.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav span:hover,
.sidenav a:hover {
  color: #3776ab;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
  cursor: pointer;
}

/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/