#container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jquery-modal .modal {
    overflow-y:auto;
    width: 90%;
    max-width:1024px;
}

.jquery-modal .modal a.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

.jquery-modal .modal img {
    max-width: 800px;
}

.text-wrap{
    white-space:normal;
}

.description-column{
    max-width: 600px;
}

.github-img {
    width: 16px;
}

.link-img {
    width: 16px;
}

.web-img {
    width: 16px;
}

.info-img {
    width: 16px;
}

img.info-img:hover {
  opacity: 0.5;
}

.dataTables_filter {
    float: left !important;
    text-align: left;
    margin-top: 10px;
}

div.dataTables_filter input {
    /* override datatables margin-left: 0.5em; */
    margin-left: 0px !important;
}

/* --- menu --- */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #3776ab;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
/*
.topnav #menu-links {
  display: none;
}
*/

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #3776ab;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
/*
.topnav a:hover {
   background-color: #ddd;
  color: black;
}
*/

/* Style the active link (or home/logo) */
.active {
  background-color: #3776ab;
  color: white;
}